body{
	background-color: #f8f8f8;
}
.book-library{
	display:flex;
	flex-direction:column;
}
.author{
	color: #777777;
}
.price{
	border-radius: 5px;
	color: rgb(255, 255, 255);
	background-color: #2ecc71;
}